/* 
Global stylesheet for all the work term reports 
*/

body{
    color: black;
    padding: 0px 5px;
}

main{
    display: flex;
    width: 100vw;
    height: auto;
}

#home-link{
    max-width: 10vw;
}